.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    background: #f9004d;

}
.logo{
    margin: 15px 50px;
}

.menu{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.menu a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    font-weight: 552;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.menu a::after{
    content: '';
    height: 4px;
    width: 0px;
    background: black;
    position: absolute;
    left: 40px;
    bottom: -20px;
    transition: 0.5s;

}
.menu a:hover::after{
    width: 60%;

}
.btn{
    padding: 12px 20px;
    border: 2px solid white;
    color: #c6c9d8;;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 600;
}
.btn:hover{
    
    color: white;
    background: #f9004d;
    
   
}


@media(max-width:1060px){
    .menu{
        gap: 1rem;
    }
}
@media(max-width:1000px){
    .navbar{
       display: none;
    }
}